*{
    margin: unset;
    padding: unset;
}

.calculator-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.calculator-in{
    background-color: black;
    width: 15%;
    padding: 16px;
    border-radius: 65px;
}
.calculator-top{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 10px;
}
.calculator-bottom{
    width: 100%;
}
.calculator-top-container>input{
    text-align: right;
    color: #fff;
    font-size: 60px;
    background-color: unset;
    width: 97%;
    outline: unset;
    border: unset;
}
.calculator-bottom-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.calculator-button{
    width: 61px;
    height: 61px;
    border-radius: 100%;
    border: unset;
    font-size: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
.zero-btn{
    background-color: #313131;
    color: #fff;
    width: 136px;
    border-radius: 30px;
    text-align: start;
    padding-left: 22px;
  
}
.orange-btn{
    background-color:  #f69906;
    color: #fff;
}
.gray-btn{
    background-color: #9f9f9f;
}
.black-btn{
    background-color: #313131;
    color: #fff;
}